.album-cover {
    position: relative;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.album-cover__image {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
}
.album-cover__highlight {
    background: transparent url('../images/album-cover-highlight.png') no-repeat 0 0 scroll;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}