.fslider {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.fslider__wrapper {
    position: relative;
    &:after {
        display: table;
        content: "";
        clear: both;
    }
}
.fslider__box {
    position: relative;
    float: left;
    & img {
        max-width: 100%;
    }
}
.fslider__desc {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}
.fslider__arrow-box {
    display: table;
    margin: 0 auto;
    color: #ffffff;
}
.fslider__arrows {
    margin: 0 5px;
    display: block;
    float: left;
    cursor: pointer;
}
