* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #888888;
}
.background-filter-image {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: .2s;
    filter: blur(15px) grayscale(0.2);
    -webkit-filter: blur(15px) grayscale(0.2);
    -o-filter: blur(15px) grayscale(0.2);
}
