.list-large {
    position: relative;
    max-height: 100%;
    padding: 40px 100px 60px;
    display: flex!important;
    height: 100vh;
    width: 100%;
    
    &__album {
        width: 35%;
        display: block;
        float: right;
        overflow: hidden;
        padding-right: 50px;
        line-height: 23px;
        font-size: 13px;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #9e9e9e;
        font-style: italic;
    }
    
    &__track-title {
        width: 65%;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 10px;
    }
}
.mdl-grid {
    width: 100%;
    height: ~'calc(100vh - 110px)';
}
.list-large__box {
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
    max-height: 660px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }
}
.list-large__overflow {
    overflow-y: auto;
    height: 100%;
}
.list-large__list {
    padding: 0;
    margin: 0;
    counter-reset:li;
    list-style: none;
}
.list-large__list-item {
    padding: 10px 15px 10px 30px;
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: .2s;
    position: relative;
    
    &--counter {
        &:before {
            content:counter(li); /* В качестве данных используем счетчик */
            counter-increment:li; /* Увеличиваем значение счётчика */
            width: 20px;
            display: block;
            text-align: center;
            vertical-align: middle;
            position: absolute;
            height: 20px;
            left: 3px;
        }
        &:hover,
        &.active {
            background-color: rgba(255, 255, 255, 0.2);
            color: rgba(255, 255, 255, 0.8);
            border-bottom: 1px solid transparent;
        }
        &.active {
            &:before {
                content: "";
                color: rgba(255, 255, 255, 0.8);
                background-image: url('../images/ic_play_arrow_white_24px.svg');
                width: 20px;
                display: block;
                text-align: center;
                vertical-align: middle;
                position: absolute;
                height: 20px;
                left: 3px;
            }
            &--play:before {
                background-image: url('../images/ic_pause_white_24px.svg');
            }
        }
        &:active {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
    &:last-child {
        border-bottom: none;
    }
    .list-large__time {
        position: absolute;
        right: 15px;
        top: 10px;
    }
}
@media (max-width: 992px) {
    .list-large {
        padding-left: 0;
        padding-right: 0;
    }
    .list-large__box {
        max-width: 100%;
    }
    .list-large__cell-image {
        display: none;
    }
    .list-large__cell-playlist {
        width: 100%;
    }
}
/* END max-width:992px */
@media (max-width: 768px) {
    .mdl-grid {
        height: ~'calc(100vh - 147px)';
    }
}
