.mdl-button--hovered {
  background-color: rgba(158,158,158,.2);
}
.mdl-menu__item a{
  color: rgba(0,0,0,.87);
  text-decoration: none;
}
.mdl-layout__drawer {
    background: rgba(255,254,255,0.9);
}
.mdl-layout__drawer-button {
    line-height: 55px;
}
.mdl-layout__drawer {
    z-index: 30;
}
.mdl-button--fab.mdl-button--colored {
    background: rgb(63,81,181);
    color: rgb(255,255,255);
    &:hover,
    &:focus,
    &:active{
        background: rgb(63,81,181);
    }
}
.mdl-button--fab.mdl-button--colored:focus:not(:active) {
    background-color: rgb(63,81,181)!important;
}
.mdl-textfield {
    padding: 0;
    & label {
        top: 0!important;
    }
}
dialog {
    position: absolute;
    left: 0;
    right: 0;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    margin: auto;
    border: solid;
    padding: 1em;
    background: #fff;
    color: #000;
    display: none;
    top: 50%;
    transform: translateY(-50%);
}
.mdl-dialog__title {
    font-size: 25px;
    text-align: center;
}




