.player-controls {
    position: fixed;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 20;
    &:hover .player-controls__progress-bar,
    &:hover .player-controls__elaps-bar {
        height: 16px;
        transition: .3s;
    }
    &:hover .player-controls__time,
    &:hover .player-controls__duration {
        transform: translateY(0);
        transition: .3s;
        opacity: 1;
    }
}
.player-controls__player {
    height: 60px;
}
.player-controls__button {
    color: #c1c1c1;
    height: 60px !important;
    line-height: 60px;
    width: 75px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    float: left;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    padding: 0;
    margin: 0;
    &:hover {
        color: #ffffff;
    }
    &--fsize-big {
        font-size: 27px;
    }
    &--play {
        padding-left: 5px;
    }
    &--material i{
        font-size: 36px;
        line-height: 60px;
    }
    &--material-min i{
        line-height: 60px;
    }
    &--active {
        color: #3f51b5 !important;
        position: relative;
        &:after {
            height: 2px;
            width: 100%;
            display: block;
            content: " ";
            bottom: 0;
            left: 0;
            position: absolute;
            background: rgb(63,81,181);
            -webkit-animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
            animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
            transition: all 1s cubic-bezier(.4,0,1,1);
        }
    }
    &.is-active {
        color: #3f51b5!important;
    }
}
.player-controls__left-box {
    height: 100%;
    z-index: 2;
    float: left;
}
.player-controls__right-box {
    height: 100%;
    z-index: 2;
    float: right;
}
.player-controls__album-cover {
    display: block;
    float: left;
    margin: 5px 10px 5px 20px;
    & img {
        width: 50px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
}
.player-controls__track-info {
    color: #ffffff;
    float: left;
    padding: 11px 0;
}
.player-controls__title {
    font-weight: normal;
    font-size: 14px;
}
.player-controls__artist {
    opacity: 0.7;
    font-size: 12px;
}
.player-controls__time-box {
    width: 100%;
    position: absolute;
    bottom: 60px;
    left: 0;
}
.player-controls__time, .player-controls__duration {
    position: absolute;
    font-size: 11px;
    color: #000000;
    z-index: 2;
    bottom: -2px;
    padding: 0 10px;
    transform: translateY(15px);
    transition: .3s;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.player-controls__time {
    left: 0;
}
.player-controls__duration {
    right: 0;
}
.player-controls__progress-wrapper {
    height: 16px;
    position: relative;
    padding: 0;
}
.player-controls__progress-bar,
.player-controls__elaps-bar {
    width: 100%;
    height: 5px;
    transition: .3s;
    position: absolute;
    bottom: 0;
}
.player-controls__progress-bar {
  background: #c1c1c1;
}
.player-controls__elaps-bar {
  background: #ffffff;
}
.player-controls__volume-slider {
    position: absolute;
    transform: rotate(-90deg);
    bottom: 155px;
    right: -83px;
    width: 245px;
    max-width: 100%;
    display: none;
    z-index: 100;
    &:hover {
        display: block;
    }
}
.volume:hover + .player-controls__volume-slider {
    display: block;
}
.mdl-slider__container {
    border: 1px #e0e0e0 solid;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    height: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 200px;
    margin-left: 30px;
}
.player-controls__list-small {
    display: none;
}
@media (max-width: 768px) {
    .player-controls__left-box {
        width: 100%;
        margin-left: 0;
        & .player-controls__button {
            width: 25%;
            margin: 0!important;
        }
    }
    .player-controls__right-box {
        height: 40px!important;
        z-index: 2;
        position: absolute;
        bottom: 80px;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
        & .player-controls__button {
            width: 40px!important;
            height: 40px!important;
            line-height: 40px;
            border-radius: 50%;
            will-change: box-shadow;
            transition-property: box-shadow, background-color, color;
            transition-duration: 0.2s, 0.2s, 0.2s;
            transition-timing-function: cubic-bezier(0.4, 0, 1, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
            transition-delay: 0s, 0s, 0s;
            opacity: 1;
            min-width: 1px;
            margin-left: 5px;
            margin-right: 5px;
            &:hover {
                background-color: rgba(158,158,158,.8);
            }
            & i {
                color: #ffffff!important;
            }
            &--material-min i {
                line-height: 40px;
                vertical-align: baseline;
            }
            &--active {
                &:after {
                    display: none;
                }
            }
        }
    }/*END right-box*/
    .player-controls__track-info {
        display: none;
    }
    .player-controls__album-cover {
        display: none;
    }
    .volume:hover + .player-controls__volume-slider {
        display: none;
    }
    .player-controls__progress-bar,
    .player-controls__elaps-bar {
        height: 16px;
    }
    .player-controls__time,
    .player-controls__duration {
        transform: translateY(0);
        opacity: 1;
    }
    /*.player-controls__list-large {
        display: none;
    }
    .player-controls__list-small{
        display: block;
    }*/
}
/* END @media (max-width: 768px) */
