.slider {
    padding-top: 60px;
}
.slider__box {
    position: relative;
    padding: 10px 10px 0 10px;
    outline: none!important;//Умри блеать!!!
    & img {
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        max-width: 100%;
    }
}
.slider__desc {
    padding: 10px 10px 0 10px;
    text-align: center;
    & p {
        margin: 0;
        color: #ffffff;
        line-height: 20px;
    }
}
.slider__title {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    
    a {
        color: inherit;
        text-decoration: none;
        font-weight: normal;
    }
}
.slider__artist {
    font-size: 12px;
    opacity: 0.5;
}
.slider__image-box {
    position: relative;
    margin: 0 auto;
    max-height: ~'calc(100vh - 230px)';
    max-width: ~'calc(100vh - 230px)';
    
    &:hover .slider__play-box,
    &:hover .slider__info-box {
        opacity: 1;
    }
}
.slider__play-box {
    color: #ffffff;
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: 0;
    transition: 0.1s;
    &--play {
        opacity: 1!important;
    }
}
.slider__info-box {
    color: #ffffff;
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
    transition: 0.1s;
}
.slider__arrow-box {
    color: #ffffff;
    display: table;
    margin: 0 auto;
}
/*.slider__button-play {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px;
    border-radius: 50%;
    will-change: box-shadow;
    transition-property: box-shadow, background-color, color;
    transition-duration: 0.2s, 0.2s, 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    background-color: rgba(158, 158, 158, 0.5);
    cursor: pointer;
    &:hover {
        background-color: rgba(158, 158, 158, 0.4);
    }
    &:focus {
        background-color: rgba(158, 158, 158, 0.3);
    }
    &:active {
        background-color: rgba(158, 158, 158, 0.3);
    }
    & i {
        line-height: 40px;
    }
}*/
@media (max-width: 768px) {
    .slider {
        width: 100vh;
        margin: 0 auto;
        max-width: 100%;
        padding-top: 45px;
    }
    .slider__box {
        height: ~'calc(100vh - 120px)'!important;
        & img {
            max-height: 100%;
            display: table;
            margin: 0 auto;
        }
    }
    .slider__image-box {
        height: ~'calc(100% - 90px)';
        width: fit-content;
        width: -moz-fit-content;
        margin: 0 auto;
        white-space: nowrap;
    }
    .slider__play-box,
    .slider__info-box {
        opacity: 1;
    }
    .slider__arrow-box {
        display: none;
    }
}
