.volume {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.6;
    background-size: 24px auto;
    &:hover {
        opacity: 1;
    }
}
.volume[data-level="high"] {
    background-image: url('../images/ic_volume_up_white_36px.svg');
}
.volume[data-level="medium"] {
    background-image: url('../images/ic_volume_down_white_36px.svg');
}
.volume[data-level="low"] {
    background-image: url('../images/ic_volume_mute_white_36px.svg');
}
.volume[data-level="mute"] {
    background-image: url('../images/ic_volume_off_white_36px.svg');
}
