* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #888888;
}
.background-filter-image {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: .2s;
  filter: blur(15px) grayscale(0.2);
  -webkit-filter: blur(15px) grayscale(0.2);
  -o-filter: blur(15px) grayscale(0.2);
}
.mdl-button--hovered {
  background-color: rgba(158, 158, 158, 0.2);
}
.mdl-menu__item a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}
.mdl-layout__drawer {
  background: rgba(255, 254, 255, 0.9);
}
.mdl-layout__drawer-button {
  line-height: 55px;
}
.mdl-layout__drawer {
  z-index: 30;
}
.mdl-button--fab.mdl-button--colored {
  background: #3f51b5;
  color: #ffffff;
}
.mdl-button--fab.mdl-button--colored:hover,
.mdl-button--fab.mdl-button--colored:focus,
.mdl-button--fab.mdl-button--colored:active {
  background: #3f51b5;
}
.mdl-button--fab.mdl-button--colored:focus:not(:active) {
  background-color: #3f51b5 !important;
}
.mdl-textfield {
  padding: 0;
}
.mdl-textfield label {
  top: 0!important;
}
dialog {
  position: absolute;
  left: 0;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto;
  border: solid;
  padding: 1em;
  background: #fff;
  color: #000;
  display: none;
  top: 50%;
  transform: translateY(-50%);
}
.mdl-dialog__title {
  font-size: 25px;
  text-align: center;
}
.album-cover {
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.album-cover__image {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
}
.album-cover__highlight {
  background: transparent url('../images/album-cover-highlight.png') no-repeat 0 0 scroll;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.player-controls {
  position: fixed;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 20;
}
.player-controls:hover .player-controls__progress-bar,
.player-controls:hover .player-controls__elaps-bar {
  height: 16px;
  transition: .3s;
}
.player-controls:hover .player-controls__time,
.player-controls:hover .player-controls__duration {
  transform: translateY(0);
  transition: .3s;
  opacity: 1;
}
.player-controls__player {
  height: 60px;
}
.player-controls__button {
  color: #c1c1c1;
  height: 60px !important;
  line-height: 60px;
  width: 75px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  float: left;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.player-controls__button:hover {
  color: #ffffff;
}
.player-controls__button--fsize-big {
  font-size: 27px;
}
.player-controls__button--play {
  padding-left: 5px;
}
.player-controls__button--material i {
  font-size: 36px;
  line-height: 60px;
}
.player-controls__button--material-min i {
  line-height: 60px;
}
.player-controls__button--active {
  color: #3f51b5 !important;
  position: relative;
}
.player-controls__button--active:after {
  height: 2px;
  width: 100%;
  display: block;
  content: " ";
  bottom: 0;
  left: 0;
  position: absolute;
  background: #3f51b5;
  -webkit-animation: border-expand 0.2s cubic-bezier(0.4, 0, 0.4, 1) 0.01s alternate forwards;
  animation: border-expand 0.2s cubic-bezier(0.4, 0, 0.4, 1) 0.01s alternate forwards;
  transition: all 1s cubic-bezier(0.4, 0, 1, 1);
}
.player-controls__button.is-active {
  color: #3f51b5!important;
}
.player-controls__left-box {
  height: 100%;
  z-index: 2;
  float: left;
}
.player-controls__right-box {
  height: 100%;
  z-index: 2;
  float: right;
}
.player-controls__album-cover {
  display: block;
  float: left;
  margin: 5px 10px 5px 20px;
}
.player-controls__album-cover img {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.player-controls__track-info {
  color: #ffffff;
  float: left;
  padding: 11px 0;
}
.player-controls__title {
  font-weight: normal;
  font-size: 14px;
}
.player-controls__artist {
  opacity: 0.7;
  font-size: 12px;
}
.player-controls__time-box {
  width: 100%;
  position: absolute;
  bottom: 60px;
  left: 0;
}
.player-controls__time,
.player-controls__duration {
  position: absolute;
  font-size: 11px;
  color: #000000;
  z-index: 2;
  bottom: -2px;
  padding: 0 10px;
  transform: translateY(15px);
  transition: .3s;
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.player-controls__time {
  left: 0;
}
.player-controls__duration {
  right: 0;
}
.player-controls__progress-wrapper {
  height: 16px;
  position: relative;
  padding: 0;
}
.player-controls__progress-bar,
.player-controls__elaps-bar {
  width: 100%;
  height: 5px;
  transition: .3s;
  position: absolute;
  bottom: 0;
}
.player-controls__progress-bar {
  background: #c1c1c1;
}
.player-controls__elaps-bar {
  background: #ffffff;
}
.player-controls__volume-slider {
  position: absolute;
  transform: rotate(-90deg);
  bottom: 155px;
  right: -83px;
  width: 245px;
  max-width: 100%;
  display: none;
  z-index: 100;
}
.player-controls__volume-slider:hover {
  display: block;
}
.volume:hover + .player-controls__volume-slider {
  display: block;
}
.mdl-slider__container {
  border: 1px #e0e0e0 solid;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  height: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 200px;
  margin-left: 30px;
}
.player-controls__list-small {
  display: none;
}
@media (max-width: 768px) {
  .player-controls__left-box {
    width: 100%;
    margin-left: 0;
  }
  .player-controls__left-box .player-controls__button {
    width: 25%;
    margin: 0!important;
  }
  .player-controls__right-box {
    height: 40px!important;
    z-index: 2;
    position: absolute;
    bottom: 80px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
  }
  .player-controls__right-box .player-controls__button {
    width: 40px!important;
    height: 40px!important;
    line-height: 40px;
    border-radius: 50%;
    will-change: box-shadow;
    transition-property: box-shadow, background-color, color;
    transition-duration: 0.2s, 0.2s, 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s, 0s, 0s;
    opacity: 1;
    min-width: 1px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .player-controls__right-box .player-controls__button:hover {
    background-color: rgba(158, 158, 158, 0.8);
  }
  .player-controls__right-box .player-controls__button i {
    color: #ffffff!important;
  }
  .player-controls__right-box .player-controls__button--material-min i {
    line-height: 40px;
    vertical-align: baseline;
  }
  .player-controls__right-box .player-controls__button--active:after {
    display: none;
  }
  /*END right-box*/
  .player-controls__track-info {
    display: none;
  }
  .player-controls__album-cover {
    display: none;
  }
  .volume:hover + .player-controls__volume-slider {
    display: none;
  }
  .player-controls__progress-bar,
  .player-controls__elaps-bar {
    height: 16px;
  }
  .player-controls__time,
  .player-controls__duration {
    transform: translateY(0);
    opacity: 1;
  }
  /*.player-controls__list-large {
        display: none;
    }
    .player-controls__list-small{
        display: block;
    }*/
}
/* END @media (max-width: 768px) */
.volume {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.6;
  background-size: 24px auto;
}
.volume:hover {
  opacity: 1;
}
.volume[data-level="high"] {
  background-image: url('../images/ic_volume_up_white_36px.svg');
}
.volume[data-level="medium"] {
  background-image: url('../images/ic_volume_down_white_36px.svg');
}
.volume[data-level="low"] {
  background-image: url('../images/ic_volume_mute_white_36px.svg');
}
.volume[data-level="mute"] {
  background-image: url('../images/ic_volume_off_white_36px.svg');
}
.fslider {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.fslider__wrapper {
  position: relative;
}
.fslider__wrapper:after {
  display: table;
  content: "";
  clear: both;
}
.fslider__box {
  position: relative;
  float: left;
}
.fslider__box img {
  max-width: 100%;
}
.fslider__desc {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.fslider__desc:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.fslider__arrow-box {
  display: table;
  margin: 0 auto;
  color: #ffffff;
}
.fslider__arrows {
  margin: 0 5px;
  display: block;
  float: left;
  cursor: pointer;
}
.slider {
  padding-top: 60px;
}
.slider__box {
  position: relative;
  padding: 10px 10px 0 10px;
  outline: none!important;
}
.slider__box img {
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  max-width: 100%;
}
.slider__desc {
  padding: 10px 10px 0 10px;
  text-align: center;
}
.slider__desc p {
  margin: 0;
  color: #ffffff;
  line-height: 20px;
}
.slider__title {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}
.slider__title a {
  color: inherit;
  text-decoration: none;
  font-weight: normal;
}
.slider__artist {
  font-size: 12px;
  opacity: 0.5;
}
.slider__image-box {
  position: relative;
  margin: 0 auto;
  max-height: calc(100vh - 230px);
  max-width: calc(100vh - 230px);
}
.slider__image-box:hover .slider__play-box,
.slider__image-box:hover .slider__info-box {
  opacity: 1;
}
.slider__play-box {
  color: #ffffff;
  position: absolute;
  top: 5px;
  left: 5px;
  opacity: 0;
  transition: 0.1s;
}
.slider__play-box--play {
  opacity: 1!important;
}
.slider__info-box {
  color: #ffffff;
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
  transition: 0.1s;
}
.slider__arrow-box {
  color: #ffffff;
  display: table;
  margin: 0 auto;
}
/*.slider__button-play {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px;
    border-radius: 50%;
    will-change: box-shadow;
    transition-property: box-shadow, background-color, color;
    transition-duration: 0.2s, 0.2s, 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    background-color: rgba(158, 158, 158, 0.5);
    cursor: pointer;
    &:hover {
        background-color: rgba(158, 158, 158, 0.4);
    }
    &:focus {
        background-color: rgba(158, 158, 158, 0.3);
    }
    &:active {
        background-color: rgba(158, 158, 158, 0.3);
    }
    & i {
        line-height: 40px;
    }
}*/
@media (max-width: 768px) {
  .slider {
    width: 100vh;
    margin: 0 auto;
    max-width: 100%;
    padding-top: 45px;
  }
  .slider__box {
    height: calc(100vh - 120px) !important;
  }
  .slider__box img {
    max-height: 100%;
    display: table;
    margin: 0 auto;
  }
  .slider__image-box {
    height: calc(100% - 90px);
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
    white-space: nowrap;
  }
  .slider__play-box,
  .slider__info-box {
    opacity: 1;
  }
  .slider__arrow-box {
    display: none;
  }
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.list-large {
  position: relative;
  max-height: 100%;
  padding: 40px 100px 60px;
  display: flex!important;
  height: 100vh;
  width: 100%;
}
.list-large__album {
  width: 35%;
  display: block;
  float: right;
  overflow: hidden;
  padding-right: 50px;
  line-height: 23px;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #9e9e9e;
  font-style: italic;
}
.list-large__track-title {
  width: 65%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 10px;
}
.mdl-grid {
  width: 100%;
  height: calc(100vh - 110px);
}
.list-large__box {
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 660px;
  max-height: 660px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
}
.list-large__box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.list-large__overflow {
  overflow-y: auto;
  height: 100%;
}
.list-large__list {
  padding: 0;
  margin: 0;
  counter-reset: li;
  list-style: none;
}
.list-large__list-item {
  padding: 10px 15px 10px 30px;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: .2s;
  position: relative;
}
.list-large__list-item--counter:before {
  content: counter(li);
  /* В качестве данных используем счетчик */
  counter-increment: li;
  /* Увеличиваем значение счётчика */
  width: 20px;
  display: block;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  height: 20px;
  left: 3px;
}
.list-large__list-item--counter:hover,
.list-large__list-item--counter.active {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid transparent;
}
.list-large__list-item--counter.active:before {
  content: "";
  color: rgba(255, 255, 255, 0.8);
  background-image: url('../images/ic_play_arrow_white_24px.svg');
  width: 20px;
  display: block;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  height: 20px;
  left: 3px;
}
.list-large__list-item--counter.active--play:before {
  background-image: url('../images/ic_pause_white_24px.svg');
}
.list-large__list-item--counter:active {
  background-color: rgba(255, 255, 255, 0.3);
}
.list-large__list-item:last-child {
  border-bottom: none;
}
.list-large__list-item .list-large__time {
  position: absolute;
  right: 15px;
  top: 10px;
}
@media (max-width: 992px) {
  .list-large {
    padding-left: 0;
    padding-right: 0;
  }
  .list-large__box {
    max-width: 100%;
  }
  .list-large__cell-image {
    display: none;
  }
  .list-large__cell-playlist {
    width: 100%;
  }
}
/* END max-width:992px */
@media (max-width: 768px) {
  .mdl-grid {
    height: calc(100vh - 147px);
  }
}
